* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Playfair+Display:wght@400..900&display=swap');

:root{
  --font-headers: "Croissant One", "Times New Roman", Times, serif;
  --font-size-small: 20px;
  --background-color: #F0E9E3;
  --text-color: black;
  --element-color: #685F5F;
  --fonts-text: "Open sans", "serif"; 
}

/* algemene vormgeving */
h1 {
  font-family: var(--font-headers);
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: var(--font-headers);
  font-size: 25px;
}

p, ul li {
  font-size: var(--font-size-small);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
}

/* Vormgeving van de header */
header nav {
  border-bottom: 1px solid white;
}
header nav ul{
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-small);
  background-color: var(--background-color);
  padding: 1rem;
}

header nav ul li a{
  color: var(--text-color);
}


/* Vormgeving footer */
footer {
  position: relative;
  background-color: var(--background-color);
  width: 100vw;
  padding: .8rem;
  display: flex;
  justify-content: center;
}

/* Pagina 1 */
body {
  background-color: var(--background-color);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section:first-of-type {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

section:first-of-type div, [class="home"] section:first-of-type ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

[class="home"] section:first-of-type ul{
  flex-direction: row;
  gap:1rem;
}

[class="home"] section:first-of-type ul li img {
  max-width: 3rem;
}

[class="home"] section:first-of-type div > a {
  background-color: hotpink;
  color: white;
  padding: .6rem;
  border-radius: .5rem;
  margin: 1rem;
  border: none;
  font-family: var(--fonts-text);
}


[class="home"] section:first-of-type>img {
  max-width: 50vw;
  border-radius: 100px 0;
  border: 1px solid hotpink;
    box-shadow: 0px 3px 31px hotpink;
    margin: 2rem
}

section:first-of-type>img {
  max-width: 50vw;
}

@media (width>850px) {
  [class="home"] section:first-of-type>img {
    max-width: 20rem;
  }
}

section:nth-of-type(2) {
  background-color: var(--element-color);
  color: white;
  padding: 1rem;
  text-align: center; 
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(2) p {
  line-height: 1.5em;
  max-width: 30rem;
  padding: 1rem 0;
}


/* Contactpagina */
[class="contactpagina"] section,  [class="zoekeenboek"] section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

[class="contactpagina"] section ul {
  margin-top: 3rem;
  padding: 3rem;
  border: 6px dotted hotpink;
}


[class="contactpagina"] section li{
  padding: .5rem;
}

[class="contactpagina"] footer {
  position: absolute;
  bottom: 0;
}




/* Projecten pagina */
[class="mijnprojectenpagina"] section, [class="pollutionparty"] section:nth-of-type(1), [class="mojo"] section:nth-of-type(1){
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

@media (width<600px) {
  [class="mijnprojectenpagina"] article {
    flex-direction: column;
  }
}

 [class="mijnprojectenpagina"] article a{ 
  display: flex;
  flex-direction: row;
  padding: 1rem;
  color: var(--text-color);
 }

 [class="mijnprojectenpagina"] article:nth-of-type(2) a{
  background-color: var(--element-color);
  color: white;
  border-radius: 1rem;
 }

 [class="mijnprojectenpagina"] article:nth-of-type(3) img, [class="mojo"] img{
  max-height: 20rem;
  width: fit-content;
 }

 [class="mijnprojectenpagina"] article img {
  max-width: 30rem;
 }

 @media (width< 500px) {
  [class="mijnprojectenpagina"] article img{
    max-width: 10rem;
  }
 }

 [class="mijnprojectenpagina"] article div {
  max-width: 45vw;
 }


 /* Detailpagina zoek een boek */
 [class="zoekeenboek"] iframe {
  width: 70vw;
  padding: 1rem;
 }

  /* Detailpagina pollution party */

[class="pollutionparty"] section:nth-of-type(2) > img {
  width: 40rem;
}


