* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Playfair+Display:wght@400..900&display=swap');

:root{
  --font-headers: "Croissant One", "Times New Roman", Times, serif;
  --font-size-small: 20px;
  --background-color: #f6f2ef;
  --text-color: black;
  --element-color: #8f788d;
  --fonts-text: "Open sans", "serif"; 
  --second-color: #d1c7c0;
}


/* #685F5F; donkerbruin */
/* algemene vormgeving */
h1 {
  font-family: var(--font-headers);
  font-size: 37px;
  text-align: center;
  padding:1rem;
}

h2 {
  font-family: var(--font-headers);
  font-size: 25px;
}

h3 {
  font-size: 24px;
  padding: 1rem;
}

p, ul li, a {
  font-size: var(--font-size-small);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  max-width: 60vw;
}

/* Vormgeving van de header */
header nav {
  border-bottom: 1px solid white;
}

header nav ul{
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-small);
  padding: 1.5rem;
  background-color: var(--second-color);
}

header nav ul li a{
  color: var(--text-color);
}

article div > img:hover {
  transform: scale(150%);
  transition: 1s ease;
}

header nav ul li:hover {
  transform: scale(125%);
  transition: 1s ease;
}

a:hover {
  transform: scale(110s%);
  transition: 1s ease;
}

/* Vormgeving footer */

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--background-color);
  width: 100vw;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer li, footer p {
  font-size: 15px;
}



.mijnprojectenpagina {
  position: relative;
}


body {
  background-color: var(--background-color);
  padding-bottom: 5rem;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

section img {
  max-width: 50vw;
}

/* Pagina Homepagina  */
[class="home"] section:first-of-type, [class="contactpagina"] section:first-of-type {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5rem 2.5rem;
}

section:first-of-type div, [class="home"] section:first-of-type ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}


section:first-of-type div p {
  margin-top: 1rem;
}

[class="home"] section:first-of-type ul{
  flex-direction: row;
  gap:1rem;
}

[class="home"] section:first-of-type ul li img {
  max-width: 3rem;
}

[class="home"] section:first-of-type div > a, [class="contactpagina"] main section div a, .mojo section:nth-of-type(3) a{
  background-color: #d180ac;
  color: white;
  padding: .6rem;
  border-radius: .5rem;
  margin: 1rem;
  border: none;
  font-family: var(--fonts-text);
}


[class="home"] section:first-of-type>img, [class="contactpagina"] section:first-of-type > img {
  max-width: 50vw;
  border-radius: 100px 0;
  border: 1px solid #d180ac;
    box-shadow: 0px 3px 31px #d180ac;
    margin: 2rem
}
@media (width<555px){
  [class="home"] section:first-of-type {
    flex-direction: column;
    align-items: center;
  }

  p {
   font-size: 15px;
  }

}
[class="home"] section:first-of-type>img {
  max-width: 50vw;
}

@media (width>850px) {
  [class="home"] section:first-of-type>img {
    max-width: 20rem;
  }
}

/* [class="home"] main section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

[class="home"] main section:nth-of-type(2) h2{
  grid-area: 1 / 1 / 2 / 4;
} */

[class="home"] main section:nth-of-type(2) > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home section:nth-of-type(2) article {
  padding: 1rem;
}

.home section:nth-of-type(2) article div {
  max-width: 90vw;
}

[class="home"] main section:nth-of-type(2) > div article div {
  padding: .9rem;
}

[class="home"] main section:nth-of-type(2) > div article {
  max-width: 22rem;
}

[class="home"] main section:nth-of-type(2)> div article img {
  max-width: 25vw;
  max-height: 22vh;
}


.home section:nth-of-type(2) article a {
  color: black;
}

section:nth-of-type(2) p {
  line-height: 1.5em;
  padding: 1rem 0;
}


/* Contactpagina */

[class="contactpagina"] section:first-of-type > img {
  max-width: 30%;
}

[class="contactpagina"] section ul {
  margin-top: 3rem;
  padding: 3rem;
  background-color: var(--element-color);
  border-radius: 20px;
  color: white;
}


[class="contactpagina"] section li{
  padding: .5rem;
}

/* Projecten pagina */

 [class="mijnprojectenpagina"] article a{ 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  align-items: center;
  background-color: #d180ac ;
  border-radius: 1rem;
  width: 60vw;
 }

 [class="mijnprojectenpagina"] article:nth-of-type(2) a{
  background-color: var(--element-color);
 }

 [class="mijnprojectenpagina"] article:nth-of-type(3) a {
  background-color: #bd99a2;
 }

 

 [class="mijnprojectenpagina"] article div {
  max-width: 45vw;
 }

 


 /* Algemene code voor de detailpagina's */
 section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
 }

 /* Detailpagina zoek een boek en de andere pagina's detail */
 /* Als ik tijd heb dit even allemaal opschonen met evt een andere css stylesheet */
 [class="zoekeenboek"] section:nth-of-type(1)>div img, [class="pollutionparty"] section:nth-of-type(1)>div img,  [class="mojo"] section:nth-of-type(1)>div img {
  max-width: 100vw;
 }

 [class="zoekeenboek"] section:nth-of-type(1)>div,  [class="pollutionparty"] section:nth-of-type(1)>div,  [class="mojo"] section:nth-of-type(1)>div  {
  position: relative;
  padding-top: 0;
 }

 @media (width>60em) {
  [class="zoekeenboek"] section:nth-of-type(1) div > img, [class="pollutionparty"] section:nth-of-type(1) div > img, [class="mojo"] section:nth-of-type(1) div > img  {
    height: 50rem;
    object-fit: cover;
    object-position: 50% 20%;
    width: 100vw;
  }
 }

 [class="zoekeenboek"] section:nth-of-type(1) div > h1,  [class="pollutionparty"] section:nth-of-type(1) div > h1, [class="mojo"] section:nth-of-type(1) div > h1 {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: var(--background-color);
  width: 100vw;
  border-radius: 30px;
  box-shadow: 10px 5px 5px gray; 
}



 /* details van zoek een boek pagina */

 [class="zoekeenboek"] iframe {
  width: 60vw;
  padding: 1rem;
 }

 section:nth-of-type(2) article {
  width: 80vw;
 }

section:nth-of-type(2) img{
  width: 36vw;
  padding: 1rem;
 }

section:nth-of-type(2) article > div {
  display: flex;
 }

 

  /* Detailpagina pollution party */

[class="pollutionparty"] section:nth-of-type(2) > img {
  width: 40rem;
}

.pollutionparty section:first-of-type article:first-of-type ul li {
  list-style-type: circle;
}

.pollutionparty section:nth-of-type(2) article:last-of-type img  {
  width: 40vw;
}

.pollutionparty section:nth-of-type(2) article:nth-of-type(3) img {
  width: 55vw;
}

  /* Detailpagina mojo */

  video {
    width: 36vw;
  }

  .mojo section p {
    padding: .5rem;
  }


